*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2f2f2;
}

.input-field{
    width: max-content;
    height: max-content;
    position: absolute;
    bottom:5%;
    right:5%;
    /* background-color: red; */
    /* padding:20px; */
    display: flex;
    gap: 3px;
    align-items: center;
}

#noteInputField{
    height: 2rem;
    font-size: 1.5rem;
    
    /* border: 1px; */
    border-radius: 6px;
    outline: none;
    padding: 5px;
}

.addNoteBtn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    border: 1px;
    background-color: rgb(50, 50, 217);
    color: white;
    outline: none;
}