.errorMsg{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex-direction: column;
    gap: 30px;
}


.goBackBtn {
  width: 85px;
  height: 35px;
  margin-left: 185px;
  background-color: rgb(5, 154, 212);
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  border: none;
}