.cardContainer {
  border: 2px ;
  text-align: center;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin: 10px;
}

.toogleAvailabilityBtn{
    background-color: #06a1df;
    width: 135px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    font-size: 0.90rem;
}


