*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


body{
    background-color: #f8f3ef;
    font-size: 1rem;
    min-height: 100vh;
}

header{
    font-size: 2rem;
    padding:10px;
    background-color: rgb(215,168,127);
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom:20px ;
}

.container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(100px,200px));
    gap:30px;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.image-container img , .image-container h2{
    object-fit: cover;
    display: block;
    width: auto;
    max-height: 200px;
    border-radius: 4%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size:1.5rem;
    font-weight:bold ;
    font-family:'Times New Roman', Times, serif;
    padding: 3px;

}
.image-container{
    width: 100%;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 4%;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2)
}


