.loaderContainer {
  width: 100%;
  min-height: 50vh;

  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

.loader {
  width: 50px;
  height: 50px;

  border: 5px solid #dbe2ef;
  border-top: 5px solid #4f6ef7;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.loaderContainer p {
  color: #64748b;
  font-size: 1rem;
  font-weight: 500;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}