.inputFieldContainer {
  width: max-content;
  /* border: 2px solid black; */
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 20px;
}

.inputFieldContainer h1{
  text-align: center;

}

#charactersField {
  width: 400px;
  height: 200px;
  padding: 5px;
  font-size: large;
  outline: none;
}

body {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statsContainer {
  border: 2px solid black;
  width: 220px;
  height: 60px;
  font-size: larger;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}

.characterCount {
  font-weight: bolder;
  color: red;
}

#errorMsg{
  color: red;
  font-weight: bolder;
}
