.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
  padding: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  
}

#courses {
  width: 305px;
  height: 35px;
  font-size: medium;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid grey;
}
